/* Scss Document */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 16px; }

body {
  width: 100%;
  background-image: url("img/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position-y: -161px;
  background-position-x: 865px; }
  body header .nav_link {
    margin-top: 60px;
    text-align: right;
    height: 180px; }
    body header .nav_link .nav_link_container a {
      text-decoration: none;
      color: #242d52;
      clear: right;
      margin: 0 22px;
      font-weight: 700; }
    body header .nav_link .nav_link_container a:hover {
      color: #9095a7; }
    body header .nav_link .navbar__icon {
      display: none; }
    body header .nav_link .navbar__icon_close {
      display: none; }
    body header .nav_link img {
      float: left;
      margin-left: 171px;
      margin-top: 17px; }
    body header .nav_link #btn_nav_header {
      width: 147px;
      height: 53px;
      background-color: #f25f3a;
      color: #fafafa;
      border-radius: 23px;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin-left: 160px;
      margin-right: 171px; }
    body header .nav_link #btn_nav_header:hover {
      background-color: #f38468; }
  body header .sec_header {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-left: 171px;
    margin-right: 153px; }
    body header .sec_header .sec_header_1 {
      margin-top: 38px; }
      body header .sec_header .sec_header_1 h1 {
        font-size: 54px;
        color: #242d52; }
      body header .sec_header .sec_header_1 p {
        color: #9095a7;
        margin-top: 32px; }
      body header .sec_header .sec_header_1 #btn_header {
        width: 147px;
        height: 53px;
        background-color: #f25f3a;
        color: #fafafa;
        border-radius: 23px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      body header .sec_header .sec_header_1 #btn_header:hover {
        background-color: #f38468; }
    body header .sec_header .sec_header_2 {
      margin-top: -40px;
      margin-right: -6px; }

@media screen and (max-width: 700px) {
  body header .nav_link img {
    margin-left: 22px; }
  body header .sec_header {
    margin-left: 40px;
    margin-right: 0px; }
    body header .sec_header .sec_header_1 h1 {
      font-size: 37px;
      text-align: center; }
    body header .sec_header .sec_header_1 p {
      font-size: 0.9rem;
      text-align: center; }
    body header .sec_header .sec_header_1 #btn_header {
      margin-left: 80px; }
    body header .sec_header .sec_header_2 img {
      width: 323px;
      height: 303px;
      margin-left: -8px; } }
@media screen and (max-width: 924px) {
  body header .nav_link .navbar__icon {
    display: block;
    margin-right: 30px;
    float: right; }
  body header .nav_link .nav_link_container {
    display: none; }
  body header .nav_link .respNav {
    position: fixed;
    width: 94%;
    height: 23em;
    border-radius: 20px;
    background: #fafafa;
    top: 18%;
    left: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
    line-height: 3;
    color: black; }
    body header .nav_link .respNav #btn_nav_header {
      display: none; } }
