* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serifs }

    h1{
        background-color: red($color: #000000);
    }
    p{
        color: red($color: #000000);
    }